<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}"
          href="../../static/bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <script th:src="@{/js/jquery-1.11.0.js}" src="../../static/js/jquery-1.11.0.js" type="text/javascript"
            charset="utf-8"></script>
</head>
<style>
    h4:hover {
        color: #0c74e3;
        cursor: pointer;
    }
</style>
<body>
<table class="table">
    <tr>
        <th>系列</th>
        <th>专业</th>
        <th>班级</th>
        <th>操作</th>
    </tr>
    <tr class="add_tr">
        <th colspan="6">
            <h4 class="add_radio">点击添加课程</h4> <span class="cs" style="color: #0eb662"></span>
        </th>
    </tr>
    <tr class='add_css' th:if="${!courseList.isEmpty()}" th:each="course:${courseList}">
        <th><input type='text' class='inp2' th:value="${course.series}" style="width: 150px"></th>
        <th><input type='text' class='inp3' th:value="${course.major}" style="width: 150px"></th>
        <th><input type='text' class='inp4' th:value="${course.grade}" style="width: 150px"></th>
        <th class='sd'><a class='btn btn-danger'>删除<input type='hidden' class='inp6' th:value="${course.cid}"></a></th>
    </tr>
</table>
</body>
<script>
    $(function () {

        $('.add_radio').click(function () {
            $('.add_tr').after("<tr class='add_css'>" +
                "<th><input type='text' class='inp2'></th>" +
                "<th><input type='text' class='inp3'></th>" +
                "<th><input type='text' class='inp4'></th>" +
                "<th class='sd'>" +
                "<a class='btn btn-danger' >删除</a></th>" +
                "</tr>");
            $('.add_css>th>input').css('width', '150px');
            $('.btn-danger').click(function () {
                $(this).parents("tr").remove();
                $.post("/Json/course_add/delete", {
                        cid: '-1'
                    },
                    function (data) {
                    })
            });

            var th2, th3, th4;
            var lastTime;
            $('.add_css').click(function () {
                $(".add_css").keyup(function (e) {
                    lastTime = e.timeStamp;
                    var thi = this;
                    setTimeout(function () {
                        th2 = $(thi).children('th').children('.inp2').val().replace(/\s/g, "");
                        th3 = $(thi).children('th').children('.inp3').val().replace(/\s/g, "");
                        th4 = $(thi).children('th').children('.inp4').val().replace(/\s/g, "");
                    }, 100);
                    //console.log(th1+"::::1")
                    setTimeout(function () {
                        if (lastTime - e.timeStamp == 0) {
                            console.log(th2 + th3 + th4);
                            if (th2 != "" && th2 != null) {
                                if (th3 != "" && th3 != null) {
                                    if (th4 != "" && th4 != null) {
                                        $.post('/Json/course_add/add', {
                                                series: th2,
                                                major: th3,
                                                grade: th4,
                                                cid: "0"
                                            },
                                            function (data) {
                                                $.each(data, function (index) {
                                                    if (data[index] == (1)) {
                                                        $('.cs').empty();
                                                        $('.cs').append("创建成功！");
                                                        setTimeout(function () {
                                                            $('.cs').empty();
                                                        }, 2000);
                                                    }

                                                });
                                                th2 = null;
                                                th3 = null;
                                                th4 = null;
                                            });
                                    }
                                }
                            }
                        }
                    }, 3000);
                });

            });
        });
        $('.btn-danger').click(function () {
            $(this).parents("tr").remove();
            $.post("/Json/course_add/delete", {
                    cid: $(this).find('.inp6').val()
                },
                function (data) {
                })
        });
        $('input').click(function () {

            var th2, th3, th4, th6;
            var lastTime;
            $('.add_css').click(function () {
                $(".add_css").keyup(function (e) {
                    lastTime = e.timeStamp;
                    var thi = this;
                    setTimeout(function () {
                        th2 = $(thi).children('th').children('.inp2').val().replace(/\s/g, "");
                        th3 = $(thi).children('th').children('.inp3').val().replace(/\s/g, "");
                        th4 = $(thi).children('th').children('.inp4').val().replace(/\s/g, "");
                        th6 = $(thi).children('th').children('a').children('.inp6').val();
                    }, 100);
                    setTimeout(function () {
                        if (lastTime - e.timeStamp == 0) {
                            //console.log(th1 + th2 + th3 + th4 + th5+th6);
                            if (th2 != "" && th2 != null) {
                                if (th3 != "" && th3 != null) {
                                    if (th4 != "" && th4 != null) {
                                            $.post('/Json/course_add/add', {
                                                    series: th2,
                                                    major: th3,
                                                    grade: th4,
                                                    cid: th6
                                                },
                                                function (data) {
                                                    $.each(data, function (index) {
                                                        if (data[index] == (1)) {
                                                            $('.cs').empty();
                                                            $('.cs').append("创建成功！");
                                                            setTimeout(function () {
                                                                $('.cs').empty();
                                                            }, 2000);
                                                        }

                                                    });
                                                    th6 = null;
                                                    th2 = null;
                                                    th3 = null;
                                                    th4 = null;
                                                });
                                    }
                                }
                            }
                        }
                    }, 3000);
                });

            });
        })

    })
</script>
</html>