<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}"
          href="../../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script th:src="@{/js/jquery-1.11.0.js}" src="../../static/js/jquery-1.11.0.js" type="text/javascript"
            charset="utf-8"></script>
</head>
<body>
<div style="padding-top: 50px; width: 500px; padding-left: 50px;">
<table class="table table-bordered">
    <tr>
        <th colspan="4" style="text-align: center">详情</th>
    </tr>
    <tr>
        <th>姓名：</th>
        <th style="background-color: #9D9D9D;font-family: 黑体;" th:text="${student.student_id.sname}"></th>
        <th>性别：</th>
        <th th:text="${student.student_id.sgender}" style="background-color: #9D9D9D;font-family: 黑体;"></th>
    </tr>
    <tr>
        <th>系：</th>
        <th th:text="${student.course_id.series}" style="background-color: #9D9D9D;font-family: 黑体;"></th>
        <th>专业：</th>
        <th th:text="${student.course_id.major}" style="background-color: #9D9D9D;font-family: 黑体;"></th>
    </tr>
    <tr>
        <th>班级：</th>
        <th th:text="${student.course_id.grade}" style="background-color: #9D9D9D;font-family: 黑体;"></th>
        <th>上课老师：</th>
        <th th:text="${teacher?.tname}" style="background-color: #9D9D9D;font-family: 黑体;">占时唯有舍的教师</th>
    </tr>
    <tr>
        <th>课程：</th>
        <th colspan="3" th:text="${teacher?.course?.cname}" style="background-color: #9D9D9D;font-family: 黑体;">无</th>
    </tr>

</table>
</div>
</body>
</html>