<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>农交网后台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" th:href="@{/after/css/font.css}" href="../../static/after/css/font.css">
    <link rel="stylesheet" th:href="@{/after/fontAlibaba/iconfont.css}"
          href="../../static/after/fontAlibaba/iconfont.css">
    <link rel="stylesheet" th:href="@{/after/css/xadmin.css}" href="../../static/after/css/xadmin.css">
    <!-- <link rel="stylesheet" href="../../static/after/css/theme5.css"> -->
    <script th:src="@{/after/lib/layui/layui.js}" src="../../static/after/lib/layui/layui.js" charset="utf-8"></script>
    <script th:src="@{/after/js/xadmin.js}" type="text/javascript" src="../../static/after/js/xadmin.js"></script>
    <script th:src="@{/js/jquery-1.11.0.js}" src="../../static/js/jquery-1.11.0.js" type="text/javascript"
            charset="utf-8"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>

</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="index.html" style="padding-top: 20px; font-family: 黑体;letter-spacing:8px;"><span style="font-size: 40px;">学生</span>管理系统</a></div>
    <div class="left_open" >
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a>
                <div class="lafitewu_circle">

                    <i class="iconfont" style="margin-left: -5px">
                        <img th:if="${session.user?.urlHead!=null && image==null && session.user?.urlHead ne 'img/3.png'}" th:src="@{'../handimg/'+${session.user?.urlHead}}" style="width:30px; border-radius:30px; ">
                        <img th:if="${session.user?.urlHead eq 'img/3.png' && image==null}" th:src="@{'../'+${session.user?.urlHead}}" style="width:30px; border-radius:30px; ">
                        <img th:if="${image!=null}" th:src="${image}" src="#" style="width: 30px; border-radius:30px;" />
                        <form action="/../upload" method="post" enctype="multipart/form-data">
                            <input id="file1" style="display: none" type="file" name="file" />
                            <input   type="hidden" name="id" th:value="${session.user.id}" />
                            <button id="bud" style="display: none">提交</button>
                        </form>
                    </i>

                </div>
                欢迎您，<span th:text="${session.user.username}"></span>
            </a>
        </li>
        <li class="layui-nav-item to-index">
            <a>欢迎登陆</a></li>
        <li class="layui-nav-item lafitewu_exit to-index">
            <a href="/user/exit"><i class="iconfont">&#xe704;</i>退出</a>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="班级学生">&#xe6fc;</i>
                    <cite>班级学生</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>

                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('查看学生','/teacher/teacher_table')" class="lian" name="iframe4">
                            <cite>查看学生</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="老师管理">&#xe702;</i>
                    <cite>老师管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('密码修改','/teacher/student_password?id='+($(this).children('input').attr('value')))">
                            <input  type="hidden" th:value="${session.user.id}"/>
                            <cite>密码修改</cite></a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <!-- <i class="layui-icon">&#xe68e;</i>我的桌面 -->
                欢迎进入
            </li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!-- welcome -->
                <iframe src="/student/df" frameborder="0" scrolling="yes" class="x-iframe" ></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>

<div class="lafitewu_footer">
    <div class="lafitewu_footer_con">
        <div class="lafite_f_con_left">
            <div class="lafite_font1">农交网是湖南土流信息有限公司旗下农村产权交易合作解决方案提供商</div>
            <div class="lafite_font2">版权所有 湖南土流信息有限公司 湘ICP备14003170号-4 <span>湘公网安备 43010302000565</span></div>
        </div>

        <div class="lafite_f_con_right">客服服务热线: <span>400-6666-737</span></div>
    </div>
</div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
</body>

<script type="text/javascript" th:inline="javascript">

    layui.use(['laydate', 'form', 'upload'],
        function () {
            var $ = layui.jquery

            $(".layui-tab-title li").click(function () {
                console.log($(this));
            });
        });
    $(".iconfont>img").click(function () {
        $("#file1").click();

        $("#file1").change(function () {
            var invalue=$("#file1").val();
            if(invalue!=null && invalue!=undefined && invalue!=""){
                $("#bud").click();
                $("#file1").val("");
            }
        })
    })
</script>

</html>
