<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" th:href="@{/studentHtml/css/public.css}" href="../../static/studentHtml/css/public.css"/>
    <link rel="stylesheet" th:href="@{/studentHtml/css/style.css}" href="../../static/studentHtml/css/style.css"/>
    <script th:src="@{/js/jquery-1.11.0.js}" src="../../static/js/jquery-1.11.0.js" type="text/javascript"
            charset="utf-8"></script>
</head>
<body style="background: white">
<
<!--主体内容-->
    <section class="publicMian " >
        <div class="right">
            <div class="providerAdd">
                <form action="/teacher_form/update_password" method="post">
                    <!--div的class 为error是验证错误，ok是验证成功-->
                    <div class="">
                        <input type="hidden" id="uid" name="id" th:value="${id}">
                        <label for="oldPassword">旧密码：</label>
                        <input type="password" name="oldPassword" id="oldPassword" required/>
                        <span id="old">*请输入原密码</span>
                    </div>
                    <div>
                        <label for="newPassword">新密码：</label>
                        <input type="password" name="newPassword" id="newPassword" required/>
                        <span >*请输入新密码</span>
                    </div>
                    <div>
                        <label for="reNewPassword">确认新密码：</label>
                        <input type="password" name="reNewPassword" id="reNewPassword" required/>
                        <span id="re">*请输入新确认密码，保证和新密码一致</span>
                    </div>
                    <div class="providerAddBtn">
                        <!--<a href="#">保存</a>-->
                        <input type="button" value="保存" id="but"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
<script src="../../static/studentHtml/js/time.js" th:src="@{/studentHtml/js/time.js}"></script>

</body>

<script>

    $("#oldPassword").keyup(function () {
        console.log($(this).val())
        $.post("/teacherJson/updatePssword",{psword:$(this).val(),id:$("#uid").val()},function (data) {
            console.log(data.ok);
            if(data.ok==false){
                $('#old').html("密码错误！");
                $('#but').attr("type","button");

            }
            if(data.ok==true){
                $('#old').html("*请输入原密码");
                if($("#reNewPassword").val()!="" || $("#reNewPassword").val()!=null || $("#reNewPassword").val()!=undefined){
                    $('#but').attr("type","submit");
                }
            }
        })
    })

    $("#reNewPassword").keyup(function () {
        if($(this).val()==$("#oldPassword").val()){
            $("#re").html("新密码和旧密码一致！");
            $('#but').attr("type","button");
        }else
        if($(this).val()==$("#newPassword").val() ){
            $("#re").html("*请输入新确认密码，保证和新密码一致");
            $('#but').attr("type","submit");
        }else {
            $("#re").html("两次密码不正确！");
            $('#but').attr("type","button");
        }
    })

</script>
</html>