<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}"
          href="../../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/after/css/font.css}" href="../../static/after/css/font.css">
    <link rel="stylesheet" th:href="@{/after/css/xadmin.css}" href="../../static/after/css/xadmin.css">
    <script th:src="@{/after/lib/layui/layui.js}" src="../../static/after/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/after/js/xadmin.js}" src="../../static/after/js/xadmin.js"></script>
    <script th:src="@{/js/jquery-1.11.0.js}" src="../../static/js/jquery-1.11.0.js" type="text/javascript"
            charset="utf-8"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}"
            src="../../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <style>
        th {
            width: 100px;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-input-inline layui-show-xs-block">
                        <input type="text"  id="keynames" placeholder="学生列表详情" disabled autocomplete="off" class="layui-input">

                    </div>
                </div>
                <div>

                    <table class="table">
                        <thead style="background: #9D9D9D"><th>系：</th><th th:text="${course?.course_id?.series}"></th><th>班级：</th><th th:text="${course?.course_id?.grade}"></th><th>课程：</th><th th:text="${course?.course_id?.cname}"></th></thead>
                        <tr style="font-size: 18px;">
                            <th>学生</th>
                            <th>年龄</th>
                            <th>性别</th>
                            <th>身份证</th>
                            <th>地址</th>
                            <th>成绩</th>
                            <th>学生系统账号</th>
                        </tr>
                        <tr th:each="stu:${studentlist}">
                            <th th:text="${stu.student_id.sname}"></th>
                            <th th:text="${stu.student_id.sage}"></th>
                            <th th:text="${stu.student_id.sgender}"></th>
                            <th th:text="${#strings.abbreviate(stu.student_id.sidCard,17)}"></th>
                            <th th:text="${stu.student_id.saddr}"></th>
                            <th th:text="${stu.student_id.results.results}"></th>
                            <th th:text="${stu.student_id.xueNumberId}"></th>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <table class="table" style="width: 600px; display: none;">
            <tr>
                <th>姓名:</th>
                <th id="name"></th>
                <th>课程:</th>
                <th id="course"></th>
                <th>成绩:</th>
                <th id="cj"></th>
            </tr>
        </table>
    </div>
</div>

</body>
<script>

</script>

</html>