<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}"
          href="../../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/after/css/font.css}" href="../../static/after/css/font.css">
    <link rel="stylesheet" th:href="@{/after/css/xadmin.css}" href="../../static/after/css/xadmin.css">
    <script th:src="@{/after/lib/layui/layui.js}" src="../../static/after/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/after/js/xadmin.js}" src="../../static/after/js/xadmin.js"></script>
    <script th:src="@{/js/jquery-1.11.0.js}" src="../../static/js/jquery-1.11.0.js" type="text/javascript"
            charset="utf-8"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}"
            src="../../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <style>
        th {
            width: 100px;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-input-inline layui-show-xs-block">
                        <!--<input type="text"  id="keynames" placeholder="学生编号" autocomplete="off" class="layui-input">-->
                        <select style="width: 200px;height: 30px">
                            <option>请选者</option>
                            <option th:each="results:${list}" th:value="${results.rid}"
                                    th:text="${#dates.format(results.rdate_time,'yyyy年mm月')}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline lafite_search layui-show-xs-block">
                        <button id="dim" class="layui-btn" lay-submit="" lay-filter="sreach">
                            查询
                        </button>
                    </div>
                </div>


            </div>
        </div>
        <table class="table" style="width: 900px; display: none;">
            <tr>
                <th>姓名:</th>
                <th id="name"></th>
                <th>系:</th>
                <th id="department"></th>
                <th>专业:</th>
                <th id="major"></th>
                <th>班级:</th>
                <th id="grade"></th>
                <th>课程:</th>
                <th id="course"></th>
                <th>成绩:</th>
                <th id="cj"></th>
            </tr>
        </table>
    </div>
</div>

</body>
<script>

    $("#dim").click(function () {
        $("#cj").empty();
        $("#name").empty();
        $("#course").empty();
        if ($("select").val() == '请选者') {
            return;
        }
        $.post("/studentJson/studentKey", {Key: $("select").val()}, function (data) {
            if (data == null || data == undefined || data == "") {
                return
            }
            $(".table").css("display", "block")

            $("#cj").append("" + data.key.results);
            $("#course").append("" + data.key.rname);
            $("#course").append("" + data.key.rname);
            $.each(data.list, function (v) {
                $("#name").append("" + data.list[v].student_id.sname);
                $("#grade").append("" + data.list[v].course_id.grade);
                $("#major").append("" + data.list[v].course_id.major);
                $("#department").append("" + data.list[v].course_id.series);
            })

        })
    })

</script>

</html>